# Vim/Emacs/etc.
*~
\#*\#
.\#*
*.bak
*.swp
*.swo

# PSY-Q Output
*.obj
*.lib
*.cpe
*.exe
*.map
*.sym

# Output dirs
obj/
obj_vr/
obj_dev/

# Build
build/dump.asm
build/m2c
build/contrib
build/man
build/manifest
build/target.asm
build/share
build/bin
build/*.zip
build/statcov.txt
build/obj_tool/Release
build/include_asm_tmp
build/env/
.cache/
.sentry-native
*.matching.bin
.ninja*
build.ninja
*.log

# Python
__pycache__/
*.py[cod]
*$py.class

# Visual Studio
.vs/

# Visual Studio Code
**/.vscode/*
*.code-workspace

# SCE Product Codes
PAPX_???.??
SLED_???.??
SLES_???.??
SLPM_???.??
SLPS_???.??
SLUS_???.??
