*.obj
*.lib
*.cpe
*.exe
*.map
*.sym
*.matching.bin
*.pyc
.ninja*
build.ninja
PAPX_???.??
SLED_???.??
SLES_???.??
SLPM_???.??
SLPS_???.??
SLUS_???.??
obj
obj_vr
obj_dev
build/dump.asm
build/m2c
build/contrib
build/man
build/manifest
build/target.asm
build/share
build/bin
build/*.zip
build/statcov.txt
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/settings.json
build/obj_tool/Release
.vs
build/include_asm_tmp
source/.vscode/settings.json
*.log
*.swp
*.swo
research/
.cache/
.sentry-native
obj_psx_dev/
third_party/