version: 1.0.{build}
image: Visual Studio 2022

platform: 
 - x64

clone_folder: c:\mgs

build_script:
 - cd build
 - pip install -r requirements.txt
 - python build.py --psyq_path c:\psyq
 - powershell.exe -File progress.ps1
 - ninja

install:
 - git clone https://github.com/FoxdieTeam/psyq_sdk.git c:\psyq --depth 1
 - git submodule update --init --recursive
 - set PATH=C:\Python310-x64;C:\Python310-x64\Scripts;%PATH%
 - python --version

test: off

cache:
  - C:\mgs-cache
