version: 1.0.{build}
image: Visual Studio 2017

platform: 
 - x86

clone_folder: c:\mgs

build_script:
 - msbuild /p:Configuration=Release;Platform=x86 build\obj_tool\obj.sln
 - set PATH=C:\cygwin64\bin;%PATH%
 - cd build
 - make PSYQ_SDK=c:\psyq C_DEPS=false -j1
 
install:
 - git clone https://github.com/FoxdieTeam/psyq_sdk.git c:\psyq --depth 1
 - git submodule update --init --recursive
 - choco install make --source=cygwin

test: off
