version: 1.0.{build}
image: Visual Studio 2017

environment:
  matrix:
   - PYTHON: "C:\\Python36-x64"
platform: 
 - x86

clone_folder: c:\mgs

build_script:
 - set PATH=C:\cygwin64\bin;%PATH%
 - g++ build\progress_script\symProgress.c -o build\progress_script\progress.exe
 - cd build
 - python build.py --platform windows --psyq_path c:\psyq
 - c:\mgs\ninja\ninja.exe
# - make multicore-fix
# - make PSYQ_SDK=c:\psyq C_DEPS=false -j4
# - make progress
 
install:
 - git clone https://github.com/FoxdieTeam/psyq_sdk.git c:\psyq --depth 1
 - git submodule update --init --recursive
 - ps: Start-FileDownload https://github.com/ninja-build/ninja/releases/download/v1.11.0/ninja-win.zip
 - 7z x ninja-win.zip -oC:\mgs\ninja
 - SET PATH= C:\Python36-x64;C:\Python36-x64\Scripts;%PATH%"
 - python --version

# - choco install make --source=cygwin

test: off
